In [6]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [5]:
df = pd.read_csv('../pandas_journey-main/mydata/food_delivery_datasets.csv')

In [3]:
df

,order_id,voucher_amount,date_time,eta_seconds,food_price,cust_id,rating,delivery_fee,resto_id,status,random_id
0,FOOD-10455,0,2018-08-12T20:35:08.001006,1800,18900,1089034,5.0,4000,742638033,Completed,0.511149
1,FOOD-10985,0,2018-09-23T17:44:12.243273,2173,149000,180146,5.0,11000,742767245,Completed,0.832936
2,FOOD-10911,0,2018-09-19T18:08:09.387991,1418,43800,366528,NaN,9000,742618303,Completed,0.828026
3,FOOD-10932,0,2018-09-21T01:24:35.272499,1903,39900,511038,5.0,14000,742541172,Completed,0.239377
4,FOOD-10961,0,2018-09-22T17:57:45.523161,1716,77700,1220358,NaN,4000,742604875,Completed,0.995587
...,...,...,...,...,...,...,...,...,...,...,...
1071,FOOD-10921,0,2018-09-20T15:01:52.152828,900,103200,1296335,5.0,4000,742742150,Completed,0.248328
1072,FOOD-10265,5000,2018-07-26T14:43:23.655294,1579,145700,1135466,5.0,7000,742566851,Completed,0.268251
1073,FOOD-10534,0,2018-08-21T20:10:59.283185,2606,177200,1383625,NaN,15000,742571888,Completed,0.132528
1074,FOOD-10158,0,2018-07-16T14:42:23.214427,2428,49300,1094787,5.0,9000,742725064,Completed,0.167946
1075,FOOD-10770,0,2018-09-11T14:18:19.494258,1547,43000,1010922,5.0,9000,742594499,Completed,0.358051

In [53]:
#rata-rata delivery fee yang dikeluarkan tiap customer
df['delivery_fee'].mean()

9252.788104089219

In [23]:
#Harga makanan terendah
df['food_price'].min()

12900

In [24]:
#Harga makanan termahal
df['food_price'].max()

448500

In [30]:
#Berapa banyak rating diatas 3?
condition = df['rating']>=3
df['rating'][condition].count()

597

In [38]:
#rata-rata banyak order?
df['cust_id'].value_counts().mean()

7.797101449275362

In [43]:
#Restoran apa yang paling sering orderannya menggunakan voucher?
condition = df['voucher_amount']>0
df['resto_id'][condition].value_counts()

742641984    4
742676756    4
742586477    3
742591683    3
742606960    3
            ..
742527385    1
742703942    1
742558808    1
742710437    1
742678784    1
Name: resto_id, Length: 126, dtype: int64

In [44]:
#Pelanggan yang paling sering pakai voucher?
condition = df['voucher_amount']>0
df['cust_id'][condition].value_counts()

316834     17
366721     14
1135466    13
1094787     9
255310      8
304856      8
1089034     6
616763      4
929284      4
410472      3
725307      3
1379865     3
511038      3
1081809     3
785629      3
1194303     3
940042      3
906222      3
630004      3
1211635     2
1305973     2
617777      2
1230166     2
1548571     2
588886      2
519859      2
357568      2
949010      2
1472725     2
1347550     2
866805      2
638765      1
1096998     1
1232372     1
158214      1
1240387     1
492367      1
1044732     1
62551       1
1481304     1
1205633     1
845548      1
1284060     1
1163202     1
128682      1
331176      1
783781      1
1050269     1
1406088     1
854144      1
1081470     1
647544      1
843879      1
439651      1
687194      1
82690       1
Name: cust_id, dtype: int64

In [48]:
#Pelanggan yang paling sering pakai voucher, menggunakan voucher paling banyak di resto apa?
condition = df['voucher_amount']>0
df['cust_id'][condition].value_counts()
condition2 = df['cust_id']==316834
df['resto_id'][condition2][condition].value_counts()

742676756    4
742527780    2
742600510    1
742799965    1
742683707    1
742741233    1
742611439    1
742525710    1
742577516    1
742538410    1
742554025    1
742613767    1
742675846    1
Name: resto_id, dtype: int64

In [52]:
#Berapa jumlah nominal voucher yang digunakan oleh pelanggan yang paling sering pakai voucher?
condition = df['voucher_amount']>0
condition2 = df['cust_id'][condition]==316834
df['voucher_amount'][condition][condition2].sum()

106000

In [49]:
#Rata-rata customer paling sering pesan di restoran apa?
df['resto_id'].value_counts()

742610474    12
742591683    12
742622470     9
742676756     9
742731698     9
             ..
742747337     1
742645091     1
742798546     1
742524133     1
742587001     1
Name: resto_id, Length: 671, dtype: int64